<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen">
   
</head>
<body>
    	<main id="Container">
         <div id="Topbar">
            <h1>Team Bio Page</h1>
        </div>
        <div id="Content">

            <div id="AnsonPics">
                <p id="NameA"></p>
                <img src="images/Anson.jpg" alt="Pics" onclick="showNameA(0);">
            </div>

            <div class="TextBar">
                <h2>V.S.</h2>
            </div>

            <div id="JayPics">
                <p id="NameJ"></p>
                <img src="images/Jay.jpg" alt="Pics" onclick="showNameJ(0)">
            </div>
        </div>

        <div id="BottonArea">
            
            <div class="Button">
            <img src="images/Icon1.jpg" alt="Icon" onclick="showDescriptionA(0);">
            <img src="images/Icon2.jpg" alt="Icon" onclick="showDescriptionA(1);">
            <img src="images/Icon3.jpg" alt="Icon" onclick="showDescriptionA(2);">
            </div>

            <div class="Button2">
            <img src="images/Icon1.jpg" alt="Icon" onclick="showDescriptionJ(0);">
            <img src="images/Icon2.jpg" alt="Icon" onclick="showDescriptionJ(1);">
            <img src="images/Icon3.jpg" alt="Icon" onclick="showDescriptionJ(2);">
            </div>


        </div>
        <hr>
            <p id="title"></p>
            <div id=images></div>
            <div id="description"></div>
           

        </main>

        <footer id="NavBar">
            
        </footer>

 
</body>

<script src="js/main.js"></script>

</html>
